
html { font-family: sans-serif;
padding: 10px;}

.box {
    margin: 30px;
    /* width: 500px; */
    background-color: rgb(185, 217, 226);
    padding: 30px;
  }  

h1 {
    color: #375e97;
    font-size: 2em;
    font-family: sans-serif;
    border-bottom: 1px solid #000000;
}

h2 {
    color: #000000;
    font-size: 1.5em;
    font-family: sans-serif;
    border-bottom: 1px solid #000000;
}
